Binaries
DerivedDataCache
Intermediate
Saved
Build
Package
Content/untitled_category
Content/Valorant
Content/ValorantContent
Content/VFX_SciFi_Muzzle_And_Impact_Pack_1
Content/CleanFlatIcons
Content/Windows
.vscode
.vs
.idea
*.user
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
