Binaries
DerivedDataCache
Intermediate
Saved
Build
Package
Windows
.vscode
.vs
.idea
*.user
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins/BlueprintAssist
Plugins/Uiana
Plugins/UnrealPSKPSA
Plugins/Developer
Plugins/FreeBoneSnapper

diff.txt
